body {background-color: #eae7dc;}

#iframe {float: right;}

#stats {float: left;
        width: 640px;
        height: 600px;
        background-color: #ffffff;
        position: relative;
        margin-left: 10px;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        border: 8px forestgreen;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-style: solid;
        border-bottom: none;
        border-left-style: none;
        border-right-style: none;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        color: rgba(0,0,0,.87)}
