
body {background-color: #eae7dc;
      height: auto;
      padding: 0px;
      width: 100%;
      margin: 0px auto;
      min-width: 550px;}


.megatext {  position: relative;
             font-size: 60px;
             margin: 0px auto;
             width: 100%;
             height: 80px;
             background-color: #eae7dc;
             text-align: center;
             line-height: 100px;
             font-family: Consolas;
             margin-bottom: 20px;
             z-index: 2;}

#textheader {color: black;}

.imglarge { width: 320px;
            height: 320px;
            align-content: center;
            margin: 0px auto;
            margin-bottom: 20px;
            background-color: #eae7dc;
            position: relative;
            top: -40px;
            z-index: 1;}

#pratbubbla { }

p {font-family: sans-serif;
   margin: 0px auto;}


#väl {text-align: center;}

.longtext { align-content: center;
            word-wrap: break-word;
            width: 800px;
            height: auto;
            margin: 0px auto;
            padding: 5px;
            margin-bottom: 20px;}

#welcometext {font-size: 20px;}

.bigtext { text-align: center;
           font-family:Consolas;
           margin: 0px auto;}




#vidare1 {   color: #86c232;
             width: 250px;
             height: 50px;
             background-color: #474b4f;
             line-height: 50px;
             border-radius: 15px;
             margin-bottom: 40px;}

#vidare1 :hover {  cursor: pointer;
                   background-color: #222629;
                   border-radius: 15px;}


.footerheader { position: relative;
                width: 100%;
                background-color: #303c6c;
                height: 300px;
                align-content: center;
                margin: 0px auto;
                bottom: 0px;}

#kontakt {  position: absolute;
            margin: 0px auto;
            margin-top: 30px;
            font-family: sans-serif;
            left: 200px;
            color: #ffffff;}

#frågor {color: #ffffff;
         position: absolute;
         margin: 0px auto;
         margin-top: 100px !important;
         left: 200px;}

#address {color: #ffffff;
         position: absolute;
         margin: 0px auto;
         margin-top: 125px !important;
         left: 200px;}

#created {color: grey;
          text-align: center;
          bottom: -250px;
          position: relative;}


             /* 2nd page */

#secondarybody {width: 100%;
                height: 745px;
                background-color: #eae7dc;}

.steg2text {position: relative;
            top: 50px;}

#steg2 {text-align: center;}


#instrbasic {align-content: center;
             word-wrap: break-word;
             width: 800px;
             height: auto;
             margin: 0px auto;
             padding: 5px;}


#gameholder { text-align: center;
              position: relative;
              width: 1000px;
              height: 300px;
              top: 80px;
              margin: 0px auto;}

#imgleft {  margin-right: 40px;
            width: 300px;
            height: 300px;
            cursor: pointer;
            border: solid 2px black;}

#imgcentre {position: relative;
            bottom: 140px;}

#imgright { margin-left: 40px;
            width: 300px;
            height: 300px;
            cursor: pointer;
            border: solid 2px black;}


#vidare2 {   color: #86c232;
             width: 250px;
             height: 50px;
             background-color: #474b4f;
             line-height: 50px;
             border-radius: 15px;
             position: relative;
             top: 100px;
             text-align: center;
             font-family:Consolas;
             margin: 0px auto;
             margin-bottom: 20px;}

#vidare2 :hover {  cursor: pointer;
                   background-color: #222629;
                   border-radius: 15px;}

.progressbar {position: relative;
              text-align: center;
              margin: 0px auto;
              top: 40px;
              z-index: 4;}


.entername {text-align: center;
            margin: 0px auto;
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;
            height: auto;
            width: auto;
            }

input, textarea{
	width: 300px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #474b4f;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
input:focus, textarea:focus{
	border: solid 3px #222629;
}

textarea{
	height: 50px;
	resize: none;
	overflow: auto;
}

#typename { margin-right: 20px;
            position: relative;
            bottom: 18px;
            font-size: 23px;
            font-family: sans-serif;}

#savename {   background-color: #474b4f;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              font-size: 16px;
              border-radius: 15px;
              cursor: pointer;}


#savename :hover {background-color: #222629;}

#savenamebutton {position: relative;
                 text-align: center;
                 margin-top: 20px;}
